// GLOBAL VARIABLES

// FONTS
$font-primary: 'Merriweather', serif;
$light: 300;
$bold: 700;

// BRANDING
$color-primary: #991F62;
$color-nav: #696969;
$color-text: #000000;
$color-text-light: #8E8E8E;
$color-white: #FFFFFF;
$bg-grey: #F1EFF4;

// SPACING
$gutter: 30px;
