// COMMON STYLES

body {
  font-family: $font-primary;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  margin: 0;
}

p {
  margin-bottom: 2em;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-text-light;
  }

  &:focus {
    outline: none;
  }
}
